h1 {
    color: white;
    text-align: center;
    background-color: black;
    font-weight: 100;
}

h5 {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding-bottom: 2px;
}

.compDiv {
    padding: 4px;
    border: solid 1px lightgray;
}

button {
    margin-right: 2px;
}

.tblKey {
    font-weight: bold;
    width: 35%;
}

.tblVal {
    text-align: left;
}

#swCharProfile {
    width: 30%;
}

/*#swCharProfile table tr td {
}*/

table {
    width: inherit;
    background-color: aliceblue;
    justify-content:center;
}

#topContainer {
    display: flex;
    width: 100%;
}

#descriptionTextDiv {
    width: 70%;
    padding-left: 12px;
    float: left;
}

#descHeader {
    border-bottom: solid 1px lightgray;
}

label {
    font-weight: 700;
    margin-right: 15px;
}

#descComponentContainer {
    height: 100%;
    position: relative;
}

#linksContainer {
    right: 0;
    position: absolute;
    bottom: 0;
}