h1 {
    color: red;
}

.tblKey {
    font-weight: bold;
    width: 35%;
}

.tblVal {
    text-align: left;
}

#swCharProfile {
    width: 30%;
}

#swCharProfile table tr td {
}

table {
    width: inherit;
    background-color: aliceblue;
    justify-content:center;
}